<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <style>
        .take {
            margin: 10px;
        }
        
        .card {
            width: 18rem;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <div class="card-deck take">
        <div class="card">
            <img src="/static/img/87104936_869667460144080_1922383742001741824_n.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Md Shahed Taludker</h5>
                <p class="card-text">Hello folks how are you. I hope you are well by the grace of almighty Allah</p>
                <a href="#" class="btn btn-info">Button</a>
            </div>
        </div>
        <div class="card">
            <img src="/static/img/87104936_869667460144080_1922383742001741824_n.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Md Shahed Taludker</h5>
                <p class="card-text">Hello folks how are you. I hope you are well by the grace of almighty Allah</p>
                <a href="#" class="btn btn-info">Button</a>
            </div>
        </div>
    </div>
    <section>
        <div class="card-deck p-3">
            <div class="card">
                <img class="card-img-top w-25" src="/static/img/87104936_869667460144080_1922383742001741824_n.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <button class="btn btn-primary">Submit</button>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Hello Brother</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top w-25" src="/static/img/87104936_869667460144080_1922383742001741824_n.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top w-25" src="/static/img/87104936_869667460144080_1922383742001741824_n.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top w-25" src="/static/img/87104936_869667460144080_1922383742001741824_n.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top w-25" src="/static/img/87104936_869667460144080_1922383742001741824_n.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </section>

</body>

</html>