<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <style>
        .take {
            margin: 10px;
        }
        
        .card {
            width: 18rem;
        }
        /* ---- reset ---- */
        
        body {
            margin: 0;
            font: normal 75% Arial, Helvetica, sans-serif;
        }
        
        canvas {
            display: block;
            vertical-align: bottom;
        }
        /* ---- particles.js container ---- */
        
        #particles-js {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #b61924;
            background-image: url("");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }
        /* ---- stats.js ---- */
        
        .count-particles {
            background: #000022;
            position: absolute;
            top: 48px;
            left: 0;
            width: 80px;
            color: #13E8E9;
            font-size: .8em;
            text-align: left;
            text-indent: 4px;
            line-height: 14px;
            padding-bottom: 2px;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: bold;
        }
        
        .js-count-particles {
            font-size: 1.1em;
        }
        
        #stats,
        .count-particles {
            -webkit-user-select: none;
            margin-top: 5px;
            margin-left: 5px;
        }
        
        #stats {
            border-radius: 3px 3px 0 0;
            overflow: hidden;
        }
        
        .count-particles {
            border-radius: 0 0 3px 3px;
        }
        
        .position {
            border: 6px solid white;
            margin-top: -85px;
        }
    </style>

    <title>Document</title>
</head>

<body>
    <!-- particles.js container -->
    <section>
        <div id="particles-js"></div>
    </section>
    <section>
        <div class="card-deck take">
            <div class="card">
                <img src="/static/img/87104936_869667460144080_1922383742001741824_n.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Md Shahed Taludker</h5>
                    <p class="card-text">Hello folks how are you. I hope you are well by the grace of almighty Allah</p>
                    <a href="#" class="btn btn-info">Button</a>
                </div>
            </div>
            <div class="card">
                <img src="/static/img/87104936_869667460144080_1922383742001741824_n.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Md Shahed Taludker</h5>
                    <p class="card-text">Hello folks how are you. I hope you are well by the grace of almighty Allah</p>
                    <a href="#" class="btn btn-info">Button</a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row col-12 col-lg-8 m-auto">
                <div class="card-deck">
                    <div class="card col-4">
                        <img class="img-fluid w-25" src="/static/img/87104936_869667460144080_1922383742001741824_n.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    <div class="card col-4">
                        <img class="img-fluid w-25" src="/static/img/87104936_869667460144080_1922383742001741824_n.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    <div class="card col-4">
                        <img class="img-fluid w-25" src="/static/img/87104936_869667460144080_1922383742001741824_n.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="card">
                        <img class="img-fluid w-25" src="/static/img/87104936_869667460144080_1922383742001741824_n.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card">
                        <img class="img-fluid w-25" src="/static/img/87104936_869667460144080_1922383742001741824_n.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card">
                        <img class="img-fluid w-25" src="/static/img/87104936_869667460144080_1922383742001741824_n.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card">
                        <img class="img-fluid w-25" src="/static/img/87104936_869667460144080_1922383742001741824_n.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card">
                        <img class="img-fluid w-25" src="/static/img/87104936_869667460144080_1922383742001741824_n.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card">
                        <img class="img-fluid w-25" src="/static/img/87104936_869667460144080_1922383742001741824_n.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card">
                        <img class="img-fluid w-25" src="/static/img/87104936_869667460144080_1922383742001741824_n.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card">
                        <img class="img-fluid w-25" src="/static/img/87104936_869667460144080_1922383742001741824_n.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card">
                        <img class="img-fluid w-25" src="/static/img/87104936_869667460144080_1922383742001741824_n.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- <script src="/static/js/particles.js"></script> -->
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <!-- stats.js lib -->
    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
    <script>
        particlesJS("particles-js", {
            "particles": {
                "number": {
                    "value": 80,
                    "density": {
                        "enable": true,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#ffffff"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#000000"
                    },
                    "polygon": {
                        "nb_sides": 5
                    },
                    "image": {
                        "src": "img/github.svg",
                        "width": 100,
                        "height": 100
                    }
                },
                "opacity": {
                    "value": 0.5,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 0.1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 3,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 40,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": true,
                    "distance": 150,
                    "color": "#ffffff",
                    "opacity": 0.4,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 6,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "window",
                "events": {
                    "onhover": {
                        "enable": true,
                        "mode": "bubble"
                    },
                    "onclick": {
                        "enable": false,
                        "mode": "push"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 400,
                        "line_linked": {
                            "opacity": 0.07285620613449259
                        }
                    },
                    "bubble": {
                        "distance": 400,
                        "size": 11.988011988011989,
                        "duration": 0.3196803196803197,
                        "opacity": 0.15984015984015984,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 79.92007992007991,
                        "duration": 0.4
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": false
        });
    </script>
</body>

</html>