<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>{{title}}</title>
    <style>
        .text-style {
            color: green;
            font-size: 25px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 m-auto">
                <h5>Student Form</h5>
                <form action="">
                    <div class="form-row">
                        <div class="form-group col-6">
                            <input type="text" class="form-control" placeholder="Enter First name:">
                        </div>
                        <div class="form-group col-6">
                            <input type="text" class="form-control" placeholder="Enter Last name">
                        </div>
                        <div class="form-group col-12">
                            <input type="text" class="form-control" placeholder="Enter Email Address">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>