<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>{{title}}</title>
    <style>
        .text-style {
            color: green;
            font-size: 25px;
        }
        
        .text-box {
            padding-top: 20px;
            color: #2e2e2e;
            margin-top: 20px;
            background-color: #d8d8d8;
            resize: none;
            height: 230px;
            width: 5000px;
        }
        
        .row {
            margin-bottom: 20px !important;
        }
    </style>
</head>

<body>
    <section>
        <h1>Hello Shahed</h1>
        <h1 class="btn btn-primary">My button</h1>
        <h1 class="btn btn-secondary">My button</h1>
        <h1 class="btn btn-success">My button</h1>
        <h1 class="btn btn-warning">My button</h1>
        <h1 class="btn btn-danger">My button</h1>
        <h1 class="btn btn-info">My button</h1>
    </section>
    <div class="container">
        <div class="row">
            <textarea class="text-box" name="" id="" cols="30" rows="2" readonly>
                def modify_num(num):
                    return num ** 3
                
                def modify_second_time(take):
                    take = take ** 2
                    modify_num(take)

                 if __name__ == '__main__':
                    print(modify_second_time(4))
            </textarea>
            <h5>Quetion: What will be the output of this code? <br>
                <p>I don't know buddy</p>
            </h5>
            <textarea class="text-box" name="" id="" cols="30" rows="10" readonly>
                def isphonenumber(text):
                    if len(text) != 12:
                        return False
                    for i in range(0,3):
                        if not text[i].isdecimal():
                            return False
                    if text[3] != '-':
                        return False
                    for i in range(4,7):
                        if not text[i].isdecimal():
                            return False
                    if text[7] != '-':
                        return False
                    for i in range(8,12):
                        if not text[i].isdecimal():
                            return False
                    return True

                if __name__ == '__main__':
                    print(isphonenumber('000-000-0000'))

                print(isphonenumber("shahvar"))

                message = "call me at 415-555-1011 tomorrow. 415-555-9999 is my office"

                for i in range(len(message)):
                    test = message[i:i+12]
                    if isphonenumber(test):
                        print('phone numer found' + test)
            </textarea>
            <h5>Quetion: What will be the output of this code? <br>
                <p>I don't know buddy</p>
            </h5>
            <textarea class="text-box" cols="30" rows="10" readonly>
                # a function that basically return another function called decorator

                def apply_ones(func, arg):
                    return func(func(arg))

                def add_five(x):
                    return x + 5

                print(apply_ones(add_five, 10))
            </textarea>
            <h5>Quetion: What will be the output of this code? <br>
                <p>I don't know buddy</p>
            </h5>
            <textarea class="text-box" id="" cols="30" rows="10">
                def add_five(x):
                    return x+5
                
                nums = [11,22,33,44,55]
                result = list(add_five, nums)
                print(result)
            </textarea>
        </div>
    </div>
</body>

</html>